<br />
<div class="container">
  <div class="row">
    <div class="offset-md-3">
        <div class="row justify-content-center">
            <p id="instructions">Please enter a set of comma delimeted numbers to calculate the {{ statisticType }}<p>
        </div>
        <input type="text" class="form-control statsBox" placeholder="ex: 1,2,3,4" [(ngModel)]="userValues"/> 
        <br />
        <div class="row justify-content-center">
            <button mat-raised-button color="primary" [matTooltip]="toolTipInfo" (click)="openDialog()">Calculate {{ statisticType }}</button>
        </div>
        <br />
    </div>
  </div>        
</div>

